.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - var wordcount = totalcount(site);
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    if theme.scheme === 'Artemis'
        p © #{year} #[a(href=config.url)!= config.author] | #{wordcount} 字 | Powered by #[a(href=hexoURL, target="_blank") Hexo], Artemis.
    else
        p © #{year} #[a(href=config.url)!= config.author] | #{wordcount} 字 | Powered by #[a(href=hexoURL, target="_blank") Hexo], #[a(href=apolloURL, target="_blank") Apollo].
